
<header>
  <app-header></app-header>
</header>



<div class="content" role="main">
  <!-- <div>
    <app-breadcrumb></app-breadcrumb>
  </div> -->
  <ng-container *ngIf="bannerContent">
  <div class="row">
    <div class="container">
      <img *ngIf="bannerContent.Image.data.attributes.url" [src]="baseURL+bannerContent.Image.data.attributes.url" alt="image" class="banner-image" style="width:100%;">
        <div class="content">
          <h1 class="top-content" *ngIf="bannerContent.Title">{{bannerContent.Title}}</h1>
          <p class="top-content" *ngIf="bannerContent.Description">{{bannerContent.Description}} </p>
        </div>

    </div>
  </div>
</ng-container>

  <div *ngIf="flag == true">
    <!-- {{homePageContents.attributes.Contents[0].Contents | json}} -->
    <ng-container *ngIf="homePageContents?.length > 0">

      <div class="row" *ngFor="let page of homePageContents">
        <!-- {{blog.Contents}} -->
        <div class="content-block" *ngFor="let blog of page?.Contents">
          <div class="column left" [ngClass]="blog.Image?.data?.attributes?.url ? 'column' : 'full-width'">
            <div>
              <h1 *ngIf="blog.Heading">{{ blog.Heading }}</h1>
              <p *ngIf="blog.Description[0].children[0].text">{{ blog.Description[0].children[0].text }}</p>
            </div>
            <button class="btn-primary" *ngIf="blog.ButtonName" [routerLink]="blog.ButtonLink">{{ blog.ButtonName
              }}</button>
          </div>
          <div class="column right" *ngIf="blog.Image?.data?.attributes?.url">
            <img [src]="baseURL+blog.Image.data.attributes.url" alt="image" class="image-right">
          </div>
        </div>
      </div>
    </ng-container>

<!-- Card contents -->
    <ng-container *ngIf="cardContents?.length > 0">
        <div class="row" *ngFor="let card of cardContents">
          <div class="flex-container">
            <div class="content-block" *ngFor="let content of card?.Cards">
              <!-- *ngFor="let card of content.attributes.CardViewBlocks" -->
              <div class="card-icon">
                <i class="material-icons" style="color: white;">lightbulb_outline</i>
              </div>
              <h2 class="card-title" *ngIf="content.Title">{{content.Title}}</h2>
            <p *ngIf="content.Description">{{content.Description}}</p>
            </div>
          </div>
        </div>

        <!-- {{cardContents | json}} -->
    </ng-container>


    <!-- reviews -->
    <!-- <ng-container>
      <div class="container">
        <div class="sliders">
          <ng-container *ngFor="let card of reviewCardContents; let i = index">
            <div class="slider" *ngIf="current == i" @fade>
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>{{card.name}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <img mat-card-image class="card-img" [src]="card.img" alt="Photos" />
                  <p>
                    {{card.review}}
                  </p>
                </mat-card-content>
              </mat-card>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container> -->

  </div>

  <!-- {{homePageContents.attributes.Contents[0].Contents | json}} -->
  <div *ngIf="flag == false">
    <ng-container *ngIf="homePageContents?.length > 0">
    <div class="row" *ngFor="let blog of homePageContents">
      <div class="content-block">

        <div class="column left" [ngClass]="blog.Image?.data?.attributes?.url ? 'column' : 'full-width'">
          <div>
            <h1 *ngIf="blog.Heading">{{ blog.Heading }}</h1>
            <p *ngIf="blog.Description[0].children[0].text">{{ blog.Description[0].children[0].text }}</p>
          </div>

          <button class="btn-primary" *ngIf="blog.ButtonName" [routerLink]="blog.ButtonLink">{{ blog.ButtonName
            }}</button>
        </div>

        <div class="column right" *ngIf="blog.Image?.data?.attributes?.url">
          <img [src]="baseURL+blog.Image.data.attributes.url" alt="image" class="image-right">
        </div>
      </div>
    </div>
    </ng-container>

<!-- {{cardContents?.length}} -->
    <!-- Card contents -->
    <ng-container *ngIf="cardContents?.length > 0">

      <div class="row" >
        <div class="flex-container">
          <div class="content-block" *ngFor="let content of cardContents">
            <!-- *ngFor="let card of content.attributes.CardViewBlocks" -->
            <div class="card-icon">
              <i class="material-icons" style="color: white;">lightbulb_outline</i>
            </div>
            <h2 class="card-title" *ngIf="content.Title">{{content.Title}}</h2>
            <p *ngIf="content.Description">{{content.Description}}</p>
          </div>
        </div>
      </div>

      <!-- {{cardContents | json}} -->
    </ng-container>


     <!-- reviews -->
     <!-- <ng-container>
      <div class="container">
        <div class="sliders">
          <ng-container *ngFor="let card of reviewCardContents; let i = index">
            <div class="slider" *ngIf="current == i" @fade>
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>{{card.name}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <img mat-card-image class="card-img" [src]="card.img" alt="Photos" />
                  <p>
                    {{card.review}}
                  </p>
                </mat-card-content>
              </mat-card>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container> -->

  </div>



 <div class="row">
  <div class="container-fluid">
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let image of images">
          <div class="carousel-image">
            <img [src]="image.src" alt="{{ image.title }}">
            <div class="carousel-caption">
              <h3>{{ image.title }}</h3>
              <p>{{ image.short }}</p>
            </div>
          </div>
      </ng-template>
    </ngb-carousel>
  </div>
 </div>






    <div class="row">
      <div class="col">
        <div class="card-deck-carousel" #cardDeck >
          <span class="carousel-control" (click)="slide(-1)">
            <span class="material-icons"> arrow_back_ios </span>
          </span>
          <div class="card" *ngFor="let item of displayedItems; let i = index;" >
            <div class="card-header">
              <img [src]="item.imageUrl" class="card-img-review" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ item.title }}</h5>
              <star-rating [starType]="'svg'" [rating]="item.rating"></star-rating>
              <p class="card-text">{{ item.description }}</p>
            </div>
          </div>
          <span class="carousel-control" (click)="slide(1)">
            <span class="material-icons"> arrow_forward_ios </span>
          </span>
        </div>
      </div>
    </div>





<!-- <app-testimonials></app-testimonials> -->



</div>


<app-chat-window></app-chat-window>



<footer>
  <app-footer></app-footer>
</footer>
















































  <!-- <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="carousel-container">
        <div class="card-deck" #cardDeck >
          <div class="card" *ngFor="let item of displayedItems">
            <img [src]="item.imageUrl" class="card-img-review" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ item.title }}</h5>
              <p class="card-text">{{ item.description }}</p>
            </div>
          </div>
        </div>
        <div class="carousel-controls">
          <span class="carousel-control" (click)="slide(-1)">
            <i class="fa-solid fa-chevron-left"></i>
            Pre
          </span>
          <span class="carousel-control" (click)="slide(1)">
            Next
            <i class="fa-solid fa-chevron-right"></i>
          </span>
        </div>
      </div>
      </div>
    </div>
  </div> -->
